.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.thm
.fuse_hidden*
*.nav
*.ps
*.toc
*.snm
*.xdv
*.vscode

paper.pdf
supplement.pdf
*.code-workspace

_targets
rdpgdependent_covars/main.pdf
apx_thm2.pdf
